
  <!--start-header-->
<div class="container">
  <div class="col-md-8">
    <div class="test-top">
    <section class="slider">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <div class="test-one">
              <div class="col-md-4 test-left">
                <%= link_to image_tag("room_0", size:"200"), new_booking_path(room_type:0)%>
                <p>Deluxe Rooms.</p>
                <h4>Deluxe Rooms - Queen Size Bed</h4>
              </div>
              <div class="col-md-4 test-left">
                <%= link_to image_tag("room_1", size:"200"), new_booking_path(room_type:1)%>
                <p>Luxury Rooms.</p>
                <h4>Luxury Rooms - Queen Size Bed and Pool Facing</h4>
              </div>
              <div class="col-md-4 test-left">
                <%= link_to image_tag("room_2", size:"200"), new_booking_path(room_type:2)%>
                <p>Deluxe Rooms.</p>
                <h4>Luxury Suites - King Size Bed and Pool Facing</h4>
              </div>
              <div class="clearfix"></div>
            </div>
          </li>
          <li>
            <div class="test-one">
              <div class="col-md-4 test-left">
                <%= link_to image_tag("room_3", size:"200"), new_booking_path(room_type:3)%>
                <p>Presidential Suites</p>
                <h4>Presidential Suites - King Size Bed, Pool Facing with a Gym</h4>
              </div>
              <div class="col-md-4 test-left">
                <%= link_to image_tag("room_0_1", size:"200"), new_booking_path(room_type:0)%>
                <p>Deluxe Rooms.</p>
                <h4>Deluxe Rooms - Queen Size Bed</h4>
              </div>
              <div class="col-md-4 test-left">
                <%= link_to image_tag("room_1_1", size:"200"), new_booking_path(room_type:1)%>
                <p>Luxury Rooms.</p>
                <h4>Luxury Rooms - Queen Size Bed and Pool Facing</h4>
              </div>
              <div class="clearfix"></div>
            </div>
          </li>
          <li>
            <div class="test-one">
              <div class="col-md-4 test-left">
                <%= link_to image_tag("room_2_1", size:"200"), new_booking_path(room_type:2)%>
                <p>Deluxe Rooms.</p>                    
                <h4>Luxury Suites - King Size Bed and Pool Facing</h4>
              </div>
              <div class="col-md-4 test-left">
                <%= link_to image_tag("room_3_1", size:"200"), new_booking_path(room_type:3)%>
                <p>Deluxe Rooms.</p>
                <h4>Presidential Suites - King Size Bed, Pool Facing with a Gym</h4>
              </div>
              <div class="col-md-4 test-left">
                <%= link_to image_tag("room_1", size:"200"), new_booking_path(room_type:1)%>
                <p>Deluxe Rooms.</p>
                <h4>Luxury Rooms - Queen Size Bed and Pool Facing</h4>
              </div>
              <div class="clearfix"></div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
  </div>
  <div class="col-md-4">
    <div class="banner-top">
      <%= render "form"%>
    </div>
  </div>
  <div class="how">
    <div class="how-bottom">
      <div class="col-md-6 how-left">
        <%= image_tag("h3.jpg")%>
      </div>
      <div class="col-md-6 how-right">
        <div class="how-top heading">
          <h3>How To Book</h3>
        </div>
        <p>Very easy to book.<br/>
          Click on Booking to book room online <br/>
          Once you have selected your hotel room, you can reserve it online.<br/>
          Confirm the room is booked.<br/>
          Read over your receipt to confirm that everything is correct.
        </p>
        <div class="h-btn">
          <a href="#">More</a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</div>

  <!--end-test-->
                                                                                                                                                