<%= form_for(@room) do |f| %>
  <%= render'shared/errors', ref_obj: @room %>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :room_no %><br>
    <%= f.number_field :room_no %>
  </div>
  <div class="field">
    <%= f.label :room_type %><br>
    <%= f.number_field :room_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
